<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="hb" />
		<!-- 作者 -->
		<meta name="revised" content="hb" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>hb</title>

		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="css/base.css">
		<link rel="stylesheet" type="text/css" href="fonts/iconfont.css">
		<script type="text/javascript" src="framework/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="layui/css/layui.css">
		<script type="text/javascript" src="layui/layui.js"></script>
		<script src="framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->

	</head>

	<body>
		<div class="cBody">
			<div class="console">
				<form class="layui-form" action="">
					<div class="layui-form-item">
						<div class="layui-input-inline">
							<input type="text" name="name" required lay-verify="required" placeholder="输入分管名称" autocomplete="off" class="layui-input">
						</div>
						<button class="layui-btn" lay-submit lay-filter="submitBut">检索</button>
					</div>
				</form>

				<script>
					layui.use('form', function() {
						var form = layui.form;
				
						//监听提交
						form.on('submit(submitBut)', function(data) {
							layer.msg(JSON.stringify(data.field));
							return false;
						});
					});
				</script>
			</div>
			
			<table class="layui-table">
				<thead>
					<tr>
						<th>退单编号</th>
						<th>订单编号</th>
						<th>产品编号</th>
						<th>退货数量</th>
						<th>发起日期</th>
						<th>完成时间</th>
						<th>审核人</th>
						<th>退货原因</th>

						<!--<th>操作</th>-->
					</tr>
				</thead>
				<tbody>
					<tr th:each="order:${returnorderlist}">
						<td th:text="${order.rorderId}"></td>
						<td th:text="${order.orderId}"></td>
						<td>[[${order.productId}]]</td>
						<td th:text="${order.rorderNum}"></td>

						<td th:text="${#dates.format(order.startDate, 'yyyy-MM-dd HH:mm')}"></td>
						<td th:text="${#dates.format(order.endDate, 'yyyy-MM-dd HH:mm')}"></td>

						<td th:text="${order.employeeId}"></td>
						<td th:text="${order.rorderReason}"></td>


						<!--<td>-->
							<!--<a class="layui-btn layui-btn-xs" href="#">退单详情</a>-->

						<!--</td>-->
					</tr>
					
				</tbody>
			</table>
			
			<!-- layUI 分页模块 -->
			<div class="h_55"></div>
			<div id="pages"></div>
			<script>
				layui.use(['laypage', 'layer'], function() {
					var laypage = layui.laypage,
						layer = layui.layer;
				
					//总页数大于页码总数
					laypage.render({
					    elem: 'pages'
					    ,count: 100
					    ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
					    ,jump: function(obj){
					      console.log(obj)
					    }
					});
				});
			</script>
		</div>
	</body>

</html>